<% @uniqueTags = Tag.find(:all, :select => 'DISTINCT name') %>
<div id="tags">
<% @uniqueTags.each do |entry| %>
<a href=""> <%= entry.name %> </a>



<% end %>
	
</div>
<div id="container" > 
<div id="box">	
<h1>Hello, Rails!</h1>

<%= link_to "My Curriculum", entries_path %>

<table>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.name %></td>
    <td><%= entry.title %></td>
    <td><%= entry.content %></td>
   
  </tr>
<% end %>
</table>


</div>
</div>
</div>