=begin
#Deprecated
<% @uniqueTags = Tag.find(:all, :select => 'DISTINCT name') %>
<div id="tags">
<% @uniqueTags.each do |entry| %>
    <a href=""><%= entry.name %></a>,
<% end %>
	
</div>
<div id="container" > 
<div id="box">	

<%= link_to "Adminview", entries_path %>

<table>

<% if @entries.size % 2 != 0
        playholderEntry = Entry.new
        playholderEntry.name = "..."
        playholderEntry.title = "..."
        @entries.push playholderEntry
    end

%>
<% @entries.each_with_index do |entry,index| %>
    <% if index % 2 == 0 %>
    <tr>
    <%end %>
    
        <td >
            <div class="imagebox">
            <% if entry.image_url(:thumb) != nil %>
              <%= image_tag entry.image_url(:thumb) if entry.image? %>
            <%  else %>
              <%= entry.content %>
            <% end %>
            <span class="textbox">
            <%= entry.name %>  
            <%= entry.title %>
            </span>
            </div>

        </td>
        <% if index % 2 != 0 %>
        </tr>
        <%end %>
<% end %>
</table>


</div>
</div>
</div>
=end